* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    display: flex;
    justify-content: center;
}

h2 {
    margin-top: 20px;
    color: #fff;
}

.container {
    margin-top: 20px;
    border-radius: 10px;
    background-color: #BB8493;
    width: 500px;
    height: 600px;
    text-align: center;
}

input {
    margin-top: 20px;
    padding: 20px;
    border: none;
    width: 80%;
    border-radius: 10px;
}

span {
    background-color: #fff;
    padding: 15px;
    border-radius: 50%;
}

